@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin header-background-image {
  //to be used in .header.index
  // width: auto;
  // height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  // margin-bottom: -80px;
  // z-index: 50;
}
//
//
@mixin background-color-gredient-1 {
  background-image: linear-gradient(to bottom, #e6e3a8, #ecdeac, #eed9b2, #eed5b8, #ead2bf, #e5d3c0, #e1d4c2, #ddd5c4, #d5d9c6, #cbddcc, #c2e0d6, #bce2e2);
  //https://mycolor.space/gradient3?ori=to+bottom&hex=%23E6E3A8&hex2=%23E2D0C7&hex3=%23BCE2E2&submit=submit
}
// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content
    };
    //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content
    };
    //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content
    };
    //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content
    };
    //1800
  }
}