*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
// ::selection {
//   // background-color: #55c57a;
//   // color: #fff;
// }
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

html {
  font-size: 62.5%; // = 10px
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  // position: absolute;
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: 5vw;
  background-image: linear-gradient(to bottom, #fbfae5, #fcf6e4, #fbf2e4, #f9eee5, #f5ebe5, #f3ebe4, #f1eae3, #efeae3, #ecede3, #e7f0e6, #e2f2ec, #dff4f4);
}

.main {
  display: flex;
  flex-direction: column;
}