.footer {
  background-color: grey;
  padding: 0;
  height: 10vh;
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}