//

.nav {
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  position: relative;
  top: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding: 0;

  &-block {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width: auto;
    list-style: none;
  }

  &__item {
    padding: 5px;
    margin: 5px;

    &--link span {
      font-size: 2.4rem;
    }
  }
}