<!--  ref: https://pugjs.org/language/doctype.html --> //-

doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // === For CSS and materials: ===
    // Normal way of using CSS file in HTML: <link rel="stylesheet" href="css/style.css"/>
    // All the related file will be serverd via Middle ware function in app.js used for Node.js:
    // app.use(express.static(path.join(__dirname, 'public')));
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
    title  Guesthouse & Tour 
      
      
  body
    
    nav.nav
      ul.nav-items-container
        li.nav__item
          a.nav__item--link(href='#')
            span.textLink Intro
        li.nav__item
          a.nav__item--link(href='#')
            span.textLink Rooms
        li.nav__item
          a.nav__item--link(href='#')
            span.textLink Food
        li.nav__item
          a.nav__item--link(href='#')
            span.textLink Booking
        li.nav__item
          a.nav__item--link(href='#')
            span.textLink Log In
          
    header.index
      h1 h1 heading
      h2 h2 heading
      
    .main-section
      section.section--1
        h2 section 1
      section.section--2.card-container
        h2
          | section 2
        .card
          .card--description
            h3 card 1
          .card--description
            p card--description
        .card
          h3 card 2
        .card
          h3 card 3
      section#map.section--3

  include _footer      
