/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  background-color: grey;
  margin: 3px;
  width: 20vw;
  height: auto; }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media only screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media only screen and (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  table * {
    position: relative; }
  table td,
  table th {
    padding-left: 8px; }
  table thead tr {
    height: 60px;
    background: #FFED86;
    font-size: 16px; }
  table tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5; }
    table tbody tr:last-child {
      border: 0; }
  table td,
  table th {
    text-align: left; }
    table td.l,
    table th.l {
      text-align: right; }
    table td.c,
    table th.c {
      text-align: center; }
    table td.r,
    table th.r {
      text-align: center; }

@media screen and (max-width: 35.5em) {
  table {
    display: block; }
    table > *,
    table td,
    table th,
    table tr {
      display: block; }
    table thead {
      display: none; }
    table tbody tr {
      height: auto;
      padding: 8px 0; }
      table tbody tr td {
        padding-left: 45%;
        margin-bottom: 12px; }
        table tbody tr td:last-child {
          margin-bottom: 0; }
        table tbody tr td:before {
          position: absolute;
          font-weight: 700;
          width: 40%;
          left: 10px;
          top: 0; }
        table tbody tr td:nth-child(1):before {
          content: "Code"; }
        table tbody tr td:nth-child(2):before {
          content: "Stock"; }
        table tbody tr td:nth-child(3):before {
          content: "Cap"; }
        table tbody tr td:nth-child(4):before {
          content: "Inch"; }
        table tbody tr td:nth-child(5):before {
          content: "Box Type"; } }

body {
  background: #9BC86A;
  font: 400 14px 'Calibri','Arial';
  padding: 20px; }

blockquote {
  color: white;
  text-align: center; }

.btn {
  text-transform: uppercase;
  box-shadow: 1px 2px 2px 0.2px #000000;
  background-color: transparent;
  border-radius: 42px;
  border: 2px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 2.4rem;
  padding: 12px 43px;
  text-decoration: none;
  margin-right: 2rem; }
  .btn_booking {
    font-size: 1.0rem;
    padding: 2px 18px;
    color: black; }

.btn:hover {
  background-color: transparent; }

.btn:active {
  position: relative;
  top: 1px; }

.btn--white {
  text-transform: uppercase;
  box-shadow: 1px 3px 5px 1px #000000;
  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  background-color: #ffffff;
  border-radius: 42px;
  border: 2px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Verdana;
  font-size: 24px;
  padding: 12px 63px;
  text-decoration: none; }

.btn--white:hover {
  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  background-color: #ffffff; }

.btn--white:active {
  position: relative;
  top: 1px; }

.textLink, .textLink:link, .textLink:visited {
  font-size: 2.6rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  transition: all 0.2s; }

.textLink:hover {
  color: #fff;
  transform: scale(1.05); }

.textLink:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.textLink--white {
  background-color: #fff;
  color: #777; }
  .textLink--white::after {
    background-color: #fff; }

.textLink--green {
  background-color: #55c57a;
  color: #fff; }
  .textLink--green::after {
    background-color: #55c57a; }

.textLink::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.textLink--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: 5vw;
  background-image: linear-gradient(to bottom, #fbfae5, #fcf6e4, #fbf2e4, #f9eee5, #f5ebe5, #f3ebe4, #f1eae3, #efeae3, #ecede3, #e7f0e6, #e2f2ec, #dff4f4); }

.main {
  display: flex;
  flex-direction: column; }

.heading-1 {
  font-size: 6.5rem;
  color: #f7f7f7;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #55c57a; }

.heading-3 {
  font-size: 1.6rem;
  color: #55c57a;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f7f7f7; }
  .heading-4--dark {
    color: #55c57a; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.navbar {
  position: fixed;
  top: 0;
  left: 5vw;
  height: 60px;
  width: 90vw;
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.07) 60%, rgba(0, 0, 0, 0.06) 80%, rgba(0, 0, 0, 0.005) 100%);
  z-index: 100; }
  .navbar-container {
    margin: 0 1.2vw 0 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    list-style: none; }
  .navbar-header {
    margin-right: 30px; }
  .navbar_items {
    padding: 5px;
    margin: 5px; }
    .navbar_items--link, .navbar_items--link:link, .navbar_items--link:visited {
      font-size: 2.4rem;
      text-decoration: none;
      color: white;
      padding: 0 1.5rem; }
    .navbar_items--link:hover {
      color: yellow; }

header {
  height: 100vh;
  z-index: 50;
  width: auto;
  display: flex;
  flex-direction: column; }
  header.index {
    background: url("../img/index-bg-bird-eye-photogrpahy-of-beachline.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  header.rooms {
    background: url("../img/index-bg-bird-eye-photogrpahy-of-beachline.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  header.extra {
    height: 0; }
  header.signIn {
    height: 0; }

.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.header_block {
  width: 50%;
  transform: translate(65%, 50%);
  margin: 2rem 0;
  padding-bottom: 3rem; }

.header_slogan {
  color: #F3CF53;
  font-size: 3.4rem;
  margin: 0 0 2rem; }
  @media only screen and (max-width: 736px) {
    .header_slogan {
      font-size: 2.8rem; } }
  @media only screen and (max-width: 414px) {
    .header_slogan {
      font-size: 2.2rem; } }

.header_buttons {
  margin-top: 2rem; }

.footer {
  background-color: grey;
  padding: 0;
  height: 10vh; }

.copyright {
  font-size: 1.4rem;
  color: #eee;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }

.section {
  height: 100vh; }
  .section_withDots {
    width: auto; }
  .section_1 {
    grid-column: 2 / span 2;
    grid-row: 1/ 2;
    justify-self: center;
    text-align: center;
    margin-bottom: 30px; }
  .section_2 {
    display: grid;
    grid-template-columns: 1em 1fr 1fr 1em;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . . ." ". . . .";
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch; }
    .section_2--header {
      justify-items: stretch;
      grid-row: 1/ 2;
      grid-column: 2 / 4;
      text-align: center; }
    .section_2_table_n_map {
      grid-row: 2/ 3;
      grid-column: 2 / 4;
      display: flex;
      flex-direction: row;
      text-align: center;
      margin: 10px 0 30px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      padding: 10px; }
    .section_2--table {
      width: 50%;
      margin: 10px 0 20px 10px; }
    .section_2--map {
      width: 80%;
      margin: 10px 0 20px; }

/*

Note in main.scss:

1) use "npm run concat:css" to generate concatinated file
    NPM package.json script:
    "concat:css": "concat -o public/css/style.concat.css public/css/icon-font.css public/css/style.comp.css",

  style.concat.css is the output file

2) PostCSS  (ref:  https://www.npmjs.com/package/postcss )
   PostCSS is a tool for transforming styles with JS plugins. These plugins can lint your CSS, support variables and mixins, transpile future CSS syntax, inline images, and more.

3) Autoprefixer  (ref: https://www.npmjs.com/package/autoprefixer )
   PostCSS plugin to parse CSS and add vendor prefixes to CSS rules using values from Can I Use. It is recommended by Google and used in Twitter and Alibaba.
Write your CSS rules without vendor prefixes (in fact, forget about them entirely):

4) NPM Script:   "build:css": "npm-run-all compile:sass concat:css prefix:css compress:css"
   will compile main.scss, concatinate compiled CSS with icon-font.css, prefixing and building the concatinated CSS for making the CSS compatible with older browsers and then finally compress the CSS file

*/
